<h1 class="text-center pt-5">My bookings</h1>

<div class="card-container p-5">
  <% @bookings.each do |booking| %>
    <div class="card">
      <div class="card-header">
        <h3>Booking Details</h3>
      </div>
      <div class="card-body">
        <p><strong>Car Name:</strong> <%= booking.car.name %></p>
        <p><strong>Renter:</strong> <%= booking.user.email %></p>
        <p><strong>Start Date:</strong> <%= booking.start_date %></p>
        <p><strong>End Date:</strong> <%= booking.end_date %></p>
      </div>
    </div>
  <% end %>
</div>
