<h1 class="text-center pt-5">About Us</h1>
<h2 class="text-center pb-3">Car Rentaca</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Welcome to Car Rentaca, where we redefine car rentals. Craft your automotive adventure with our innovative platform, designing your dream car from make to model. Whether a sleek convertible or rugged SUV, create your perfect ride with us. We're dedicated to exceeding expectations, seamlessly bringing your vision to life. Elevate your journey with personalized service and unparalleled quality. Start designing your dream car with Car Rentaca today.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "bmw.jpg", class: "banner", width: "525", height: "300"%>
    </div>
  </div>
</div>
