<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap" rel="stylesheet">

<div class="banner" style="background-image: url('<%= image_path("bmw.jpg") %>'); height: 600px; background-size: 100% auto; background-repeat: no-repeat;">
  <div class="container text-center pt-5">
    <h1 class="pt-5" style="font-size: 6em; color: white; font-family: 'Bebas Neue', sans-serif; padding-top: 10em">Rentaca</h1>
    <div class="pb-5">
      <%= link_to "See the cars", cars_path, style: "display: inline-block; padding: 10px 20px; background-color: black; color: #fff; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;" %>
    </div>
  </div>
   <div style="display: flex; justify-content: center;">
    <div class="container bg-white p-3" style="border-radius: 30px; width: 900px;">
      <form action="/rental_submit" method="post">
        <label for="where">Where</label>
        <input type="text" id="where" name="where" required>

        <label for="pickup_date">Pickup Date:</label>
        <input type="date" id="pickup_date" name="pickup_date" required>

        <label for="return_date">Return Date:</label>
        <input type="date" id="return_date" name="return_date" required>

        <%= submit_tag "Search", class: "btn btn-dark" %>

      </form>
    </div>
  </div>
</div>
</div>
<div style="text-align: center; padding-top: 30px; padding-bottom: 30px; background-color: white;">
  <h1 style="font-size: 3em; color: black;">Find your drive</h1>
  <h1 style="font-size: 2em; color: black;">Luxary Car rentals</h1>
</div>

<div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="pt-5">Welcome to Car Rentaca, where we redefine car rentals. Craft your automotive adventure with our innovative platform, designing your dream car from make to model. Whether a sleek convertible or rugged SUV, create your perfect ride with us. We're dedicated to exceeding expectations, seamlessly bringing your vision to life. Elevate your journey with personalized service and unparalleled quality. Start designing your dream car with Car Rentaca today.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "car2.jpg", class: "banner", width: "525", height: "300"%>
    </div>
  </div>
</div>
