.card-text {
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  /* Set a fixed width */
  height: auto;
  /* Allow the height to adjust based on content */
  margin: 0 auto;
  /* Center the card horizontally */
}
